<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
    <link rel="stylesheet" href="/styles/moviestyles.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
  </head>
  <body>
    <div class="main">
      <%- include("navbar.ejs") %>
      <div class="mtitle">Yugal Burde</div>
      <div class="mcontainer">
        <div class="mimg">
          <img src="/images/facebook-profile-blank-face.jpeg" alt="profile-photo" />
        </div>
        <div class="mdetails">
          <div id="namee">
            <span class="name"> Name :- </span>
            <span class="key"> Yugal Burde</span>
          </div>
          <div id="desc">
            <span class="name">
              Overview </span
            >
            <span class="key"> :- I'm a passionate web developer with a strong interest
                in building scalable and efficient applications. I'm proficient in
                a range of programming languages, including C++, JavaScript,
                HTML/CSS, and Python. </span>
          </div>
          <div id="release">
            <span class="name"> Degree :-</span>
            <span class="key">
              Bachelor Of Technology in Computer Science
            </span>
          </div>
          <div id="genre">
            <span class="name"> Profiles </span>
            <span class="key">
              <span class="bullet-elements">LinkedIn</span>
              <span class="bullet-elements">GitHub</span>
              <span class="bullet-elements">Instagram</span>
              <span class="bullet-elements">XTwitter</span>
            </span>
          </div>
          <!-- <div id="lang">
                    <span class="name"> Language </span>
                    <span class="key"><%=  %></span>
                </div> -->
          <div id="prod-comp">
            <span class="name">Domains :- </span>
            <span class="key">
              <span class="bullet-elements">Web Development</span>
              <span class="bullet-elements">DSA</span>
              <span class="bullet-elements">AI</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
