<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(let i=0 ; i<10 ; i++) {%>
        <div>
            item <%= i %>
        </div>
    <% }  %>
     <img class="movie-img" src="<%= baseimgURL + m[0].poster_path %>" alt = "Poster Image">
</body>
</html>