<div class="navbar">
    <!-- <div class="nav-item">Logo</div> -->
    <!-- <input type="text" placeholder="Search Here" class="nav-item search" /> -->
    <nav>

        <div class="nav-item"> 
            <img src="/icons/home.png" class="nav-img" srcset="">
            <a href="/">Home</a> 
        </div>
        <div class="nav-item"> 
            <img src="/icons/info.png" class="nav-img" alt="" srcset="">
            <a href="/about" class="nav-item">About Me</a> 
        </div>
        <div class="categories2 nav-item"> <a href="">Categories</a>
            <!-- <div class="categories"> Categories </div> -->
            <div class="dropdown-content"> 
                <a href="/category/28/Action">Action</a>
                <a href="/category/12/Adventure">Adventure</a>
                <a href="/category/16/Animation">Animation</a>
                <a href="/category/80/Crime">Crime</a>
                <a href="/category/99/Documentry">Documentry</a>
                <a href="/category/18/Drama">Drama</a>
                <a href="/category/10751/Family">Family</a>
                <a href="/category/14/Fantasy">Fantasy</a>
                <a href="/category/36/History">History</a>
                <a href="/category/27/Horror">Horror</a>
                <a href="/category/9648/Mystery">Mystery</a>
                <a href="/category/10749/Romance">Romance</a>
                <a href="/category/878/ScienceFiction">Science Fiction</a>
                <a href="">Thriller</a>
            </div>
        </div>
        <div class="dark-btn-div">
            <input type="checkbox" id="dark">
            <label for="dark" class="toggle-label">
                <span class="toggle-ball"></span>
            </label>
        </div>
    </nav>
</div>