.navbar {
  box-shadow: 0px 0px 3px 2px rgb(149 149 149);
  height: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: x-large;
  background-color: var(--navcolor);
  color: var(--fontcolor);
  /* backdrop-filter: blur(10px); */
}

.nav-container {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 20px;
}

.nav-container > li {
  position: relative;
  padding: 20px;
  border-radius: 10px;
}

.carousel {
  position: relative;
  top: 0px;
  left: 0px;
  /* width: 100vw; */
  height: 100vh;
  margin: 5px;
  background-image: url("./images/1H2xEZOixs0z0JKwyjANZiKNNVJ.jpg");
  border-radius: 25px;
  animation: slider 2s infinite linear;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@keyframes slider {
  0% {
    background-image: url("./images/1H2xEZOixs0z0JKwyjANZiKNNVJ.jpg");
  }

  35% {
    background-image: url("./images/eebUPRI4Z5e1Z7Hev4JZAwMIFkX.jpg");
  }

  70% {
    background-image: url("./images/bMISXhkBDll6JPsevdJJ1ItnW6S.jpg");
  }
}

.nav-container > li:hover {
  color: rgb(0, 248, 248);
  /* background-color: rgb(40, 40, 40); */
}

.nav-container > li::after {
  position: absolute;
  content: "";
  background-color: rgb(0, 248, 248);
  height: 2px;
  width: 0%;
  bottom: 10%;
  left: 0px;
  transition: 0.5s;
}

.nav-container > li:hover:after {
  width: 100%;
}

.dropdown-content {
  position: absolute;
  display: none;
  background-color: var(--navcolor);
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
  top: 40px;
}

.dropdown-content a {
  display: block;
  padding: 5px 30px 5px 30px;
  font-weight: 100;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  border-radius: 10px;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #33e2a8;
}

nav div a:hover {
  color: white;
}

.nav-img {
  height: 40px;
  width: 40px;
}

.categories2 {
  cursor: pointer;
}

.categories2:hover .dropdown-content {
  display: block;
}

nav a {
  text-decoration: none;
}

/* CSS for dark mode */

.dark-btn-div {
  padding: 2px;
  position: relative;
  display: flex;
  padding: 15px;
}

#dark {
  display: none;
}

.toggle-label {
  background-color: aliceblue;
  height: 30px;
  width: 45px;
  border-radius: 30px;
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-ball {
  position: absolute;
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: #3c4155;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: all 0.4s;
}

#dark:checked + .toggle-label .toggle-ball {
  transform: translateX(14px);
}

/* REsponsive */

/* Add media query for smaller screens */
@media screen and (max-width: 768px) {
  .navbar {
    font-size: large;
  }
  .nav-container {
    padding: 10px;
  }
  .dropdown-content {
    top: 30px;
  }
  /* Add more responsive styles here */
}

/* Add media query for even smaller screens */
@media screen and (max-width: 480px) {
  .navbar {
    font-size: medium;
  }
  .nav-container {
    padding: 5px;
  }
  .dropdown-content {
    top: 20px;
  }
  /* Add more responsive styles here */

  nav {
    gap: 0px;
  }
}
